<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.bertsir.zbar">

    <application
        android:supportsRtl="true">
        <provider
            android:name=".utils.QrFileProvider"
            android:authorities="${applicationId}.zbar.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/qr_file_paths" />
        </provider>

        <activity
            android:name="cn.bertsir.zbar.QRActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".utils.PermissionUtils$PermissionActivity"
            android:theme="@style/ActivityTranslucent" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />


    </application>

</manifest>
